apiVersion: apps/v1
kind: Deployment
metadata:
  name: nsm-dep
  namespace: {{ core_namespace }}
spec:
  replicas: {{ nf_layout.nsm.replicas }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: nsm
  template:
    metadata:
      labels:
        app: nsm
        plmnId: 208-93
    spec:
      nodeSelector:
        site: {{ nf_layout.nsm.site }}
      volumes:
        - name: nsm-config
          configMap:
            name: nsm-config
      containers:
        - name: nsm
          image: b5gc-nsm:latest
          imagePullPolicy: Never
          command: ["/bin/sh", "-c"]
          args:
            - |
              ./nsm -c /etc/config/nsm.json
              echo "NSM exited, keeping container alive..."
              sleep infinity
          volumeMounts:
            - mountPath: /etc/config
              name: nsm-config
          ports:
            - containerPort: 9001
            - containerPort: 7001
          readinessProbe:
            tcpSocket:
              port: 9001
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 12
          livenessProbe:
            tcpSocket:
              port: 9001
            initialDelaySeconds: 15
            periodSeconds: 10
            failureThreshold: 6
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nsm-config
  namespace: {{ core_namespace }}
data:
  nsm.json: |
    {
      "plmnId": {
        "mcc": "208",
        "mnc": "93"
      },
      "transportNetworks":["an1","an2","tran1","tran2"],
      "dataNetworks": [{
          "name": "internet",
          "cidr": "10.60.0.0/16",
          "numIpPools": 50
        },{
          "name": "etri",
          "cidr": "129.254.195.0/24",
          "dhcpServer": "129.254.195.100"
        }],
      "slices": [{
        "id":{"sd":"010203","sst":1},
        "dataNetworks":["internet"]
      },{
        "id":{"sd":"543210","sst":1},
        "dataNetworks":["internet"]
      }],
      "amfSets":[{
        "setId":"10-100",
        "slices":[{"sd":"010203","sst":1},{"sd":"543210","sst":1}]
      },{
        "setId":"10-101",
        "slices":[{"sd":"010203","sst":1}]
      },{
        "setId":"10-102",
        "slices":[{"sd":"010203","sst":1}]
      }],
      "udr": {
        "url": "mongodb://{{ master_ip }}:{{ udr_nodeport }}",
        "dbName": "etrib5gc",
        "authSub": "authsub",
        "amSub": "amsub",
        "smfSel": "smfSel",
        "smSub": "smSub",
        "mock": false
      },
      "suciProfiles":[
        {
          "protectionScheme": "1",
          "privateKey": "c53c22208b61860b06c62e5406a7b330c2b577aa5558981510d128247d38bd1d",
          "publicKey": "5a8d38864820197c3394b92613b20b91633cbd897119273bf8e4a6f4eec0a650"
        },{
          "protectionScheme": "2",
          "privateKey": "F1AB1074477EBCC7F554EA1C5FC368B1616730155E0041AC447D6301975FECDA",
          "publicKey": "0472DA71976234CE833A6907425867B82E074D44EF907DFB4B3E21C1C2256EBCD15A7DED52FCBB097A4ED250E036C7B9C8C7004C4EEDC4F068CD7BF8D3F900E3B4"
        }],
      "mesh": {
        "registrar": "10.100.100.21"
      }
    }