version: 1.0.1

description: UPF Edge Config

pfcp:
  addr: {{ upf_edge_n4_ip }}
  nodeID: {{ upf_edge_n4_ip }}
  retransTimeout: 1s
  maxRetrans: 3

gtpu:
  forwarder: gtp5g
  ifList:
    - addr: {{ upf_edge_n3_ip }}
      type: N3

dnnList:
  - dnn: internet
    cidr: 10.62.0.0/16