apiVersion: apps/v1
kind: Deployment
metadata:
  name: ctrl-dep
  namespace: {{ core_namespace }}
  labels:
    app: controller
spec:
  replicas: {{ nf_layout.controller.replicas }}
  selector:
    matchLabels:
      app: controller
  template:
    metadata:
      labels:
        app: controller
    spec:
      nodeSelector:
        site: {{ nf_layout.controller.site }}
      serviceAccountName: ctrl-acc
      volumes:
        - name: ctrl-config
          configMap:
            name: ctrl-config
      containers:
        - name: b5gc-ctrl
          image: b5gc-controller:latest
          imagePullPolicy: Never
          command: ["./controller"]
          args: ["-c", "/etc/config/controller.json"]
          ports:
            - containerPort: 8888
              protocol: TCP
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          volumeMounts:
            - name: ctrl-config
              mountPath: /etc/config

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ctrl-acc
  namespace: {{ core_namespace }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: get-svc-role
  namespace: {{ core_namespace }}
rules:
  - apiGroups: [""]
    resources: ["services"]
    verbs: ["get", "list", "watch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: bind-get-svc-role
  namespace: {{ core_namespace }}
subjects:
  - kind: ServiceAccount
    name: ctrl-acc
    namespace: {{ core_namespace }}
roleRef:
  kind: Role
  name: get-svc-role
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: v1
kind: Service
metadata:
  name: ctrl-svc
  namespace: {{ core_namespace }}
spec:
  selector:
    app: controller
  ports:
    - protocol: TCP
      port: 8888
      targetPort: 8888
      nodePort: {{ controller_nodeport }}
  type: NodePort
  clusterIP: 10.100.100.20

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ctrl-config
  namespace: {{ core_namespace }}
data:
  controller.json: |
    {
    }